{% load staticfiles %}
{% load mptt_tags %}
{% load top_menu %}
{% load thumbnail %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Gretong a Ecommerce Category Flat Bootstarp Responsive Website Template | Home :: w3layouts</title>
    <link href="{% static 'Shop/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'Shop/css/style.css' %}" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <link href="{% static 'Shop/css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'Shop/css/slick.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'Shop/css/slick-theme.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script type='text/javascript' src="{% static 'Shop/js/jquery-1.11.0.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'Shop/js/jquery.cookie.js' %}"></script>
</head>

<body>
    <!-- header_top -->
    <div class="top_bg">
        <div class="container">
            <div class="header_top">
                <div class="top_right">
                    <ul>
                        <li><a href="contact.html">Контакты</a></li>|
                        <li><a href="#">Информация о доставке</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <h2><span></span> Звони нам: {{ phones.0.phone }}</h2>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- header -->
    <div class="header_bg">
        <div class="container">
            <div class="header">
                <div class="head-t">
                    <div class="logo">
                        <a href="{% url 'shop:home' %}"><img src="{% static 'Shop/images/logo.png' %}" class="img-responsive" alt=""/> </a>
                    </div>
                    <!-- start header_right -->
                    <div class="header_right">
                        <div class="rgt-bottom">
                            <div class="cart box_1">
                                <a href="{% url 'cart:CartDetail'%}">
                                    <h3> <span class="simpleCart_total">{{ cart.get_total_price }}</span> р. (<span id="simpleCart_quantity" class="simpleCart_quantity">{{ cart|length }}</span> товаров)<img src="{% static 'Shop/images/bag.png' %}" alt=""></h3>
                                </a>
                                {% if cart|length == 0 %}
                                <p><a href="javascript:void(0);" class="simpleCart_empty">(корзина пуста)</a></p>
                                {% endif %}
                                <div class="clearfix"> </div>
                            </div>
                            <div class="create_btn">
                                <a href="{% url 'cart:CartDetail' %}">Корзина</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="search">
                            <form method="get" action="{% url 'shop:search' %}">
                                <input type="text" name="search" placeholder="поиск...">
                                <input type="submit" value="">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    {% top_menu %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="women_main">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div class="foot-top">
        <div class="container">
            <div class="col-md-6 s-c">
                <li>
                    <div class="fooll">
                        <h5>мы в соцсетях</h5>
                    </div>
                </li>
                <li>
                    <div class="social-ic">
                        <ul>
                            <li><a href="#"><i class="facebok"> </i></a></li>
                            <li><a href="#"><i class="twiter"> </i></a></li>
                            <li><a href="#"><i class="goog"> </i></a></li>
                            <li><a href="#"><i class="be"> </i></a></li>
                            <li><a href="#"><i class="pp"> </i></a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </li>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 s-c">
                <div class="stay">
                    <div class="stay-left">
                        <form>
                            <input type="text" placeholder="Введите свой email, что бы подписаться на рассылку" required="">
                        </form>
                    </div>
                    <div class="btn-1">
                        <form>
                            <input type="submit" value="Отправить">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="col-md-3 cust">
                <h4>CUSTOMER CARE</h4>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="buy.html">How To Buy</a></li>
                <li><a href="#">Delivery</a></li>
            </div>
            <div class="col-md-2 abt">
                <h4>ABOUT US</h4>
                <li><a href="#">Our Stories</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="contact.html">Contact</a></li>
            </div>
            <div class="col-md-2 myac">
                <h4>MY ACCOUNT</h4>
                <li><a href="register.html">Register</a></li>
                <li><a href="#">My Cart</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="buy.html">Payment</a></li>
            </div>
            <div class="col-md-5 our-st">
                <div class="our-left">
                    <h4>OUR STORES</h4>
                </div>
                <div class="our-left1">
                    <div class="cr_btn">
                        <a href="#">SOLO</a>
                    </div>
                </div>
                <div class="our-left1">
                    <div class="cr_btn1">
                        <a href="#">BOGOR</a>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <li><i class="add"> </i>{{ address.0.address }}</li>
                <li><i class="phone"> </i>{{ phones.0.phone }}</li>
                <li><a href="mailto:info@example.com"><i class="mail"> </i>{{ emails.0.email }}</a></li>
            </div>
            <div class="clearfix"> </div>
            <p>Все права защищены {% now "Y" %}</p>
        </div>
    </div>
<script src="{% static 'Shop/js/megamenu.js' %}"></script>
<script>
    $(document).ready(function() { $(".megamenu").megamenu(); });
</script>
<script src="{% static 'Shop/js/menu_jquery.js' %}"></script>
<script src="{% static 'Shop/js/simpleCart.min.js' %}"></script>
<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar() { window.scrollTo(0, 1); }
</script>
<script src="{% static 'Shop/js/slick.js' %}"></script>
<script src="{% static 'Shop/js/main.js' %}"></script>
{% block footer_scripts %}{% endblock %}
</body>

</html>